.container{
  align-content: center;

}
.App {
  text-align: center;
}
.card_size{
  padding: 2px;
  margin: 8px;
  height: 36vh;
  width: 20vw;
  /* border: 2px solid #a0a6bb; */
  background-color: #f1f5f4;
 transition: all .2s ease-in-out ;
 animation: bounce 1s infinite alternate;
}
/* @keyframes bounce {
  from {
    margin-top: 5;
  }
  to {
    margin-top: -10px;
  }
} */


.card_size:hover{
  padding: 6px;
  /* filter:invert(1) */
 
}

.Pagination {
  border: 2px solid rebeccapurple;
  display: inline-flex;
  list-style: none;
}
.btn{
  width: 65px;
  margin-right: 10px;
  border-radius:10px;
  background-color: #041f7a;
  color: wheat;
  text-align: center;
}

.page-link{
  width: 65px;
  margin-right: 10px;
  letter-spacing:0;
  border-radius:30px;
  background-color: #5d77cc;
  color: wheat;
  text-align: center;
}
a {
  text-decoration: none;
  color: rgb(161, 31, 31);
  float: left;
  padding: 8px 16px;
  
}
.App-header {
  background-color: #5d84d3c0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

